# MacOS
.DS_Store

# Default TypeSpec output
tsp-output/
dist/
!frontend/dist/

# Dependency directories
node_modules/

.playwright-mcp/

# skills that are set up with the help of .skill-lock.json
.agents/skills/